.pie{
    background-color: #ede9e9; /* fondo oscuro */
    color: #0c0c0c; /* texto claro */
    text-align: center; /* texto centrado */
    padding: 20px 10px; /* espacio interior */
    font-size: 14px;
    /*border-top: 2px solid #e1dede; /* línea separadora */
}
