.encabezado {
  position: relative;
  width: auto;
  aspect-ratio: 16 / 5;
  overflow: hidden;
  min-height: 200px;
}

@media (max-width: 768px) {
  .encabezado {
    aspect-ratio: 2 / 1;
    min-height: 150px;
  }
}

@media (max-width: 480px) {
  .encabezado {
    aspect-ratio: 1.5 / 1;
    min-height: 120px;
  }
}

.encabezado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background-image: url('/imagenes/logo_animind.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e0e0e0;
  filter: blur(10px);
  transform: scale(1.03);
  z-index: 0;
}

.encabezado-texto {
  position: relative;
  z-index: 1;
  top: 80%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 2.5rem;
  color: rgb(26, 25, 25);
  text-shadow: 4px 4px 4px rgba(41, 41, 41, 0.7);
}